<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 数据源封装类 数据源：获取数据库连接 spring-jdbc.jar中-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/ssm"/>
        <property name="username" value="root"/>
        <property name="password" value="1594884214liyin"/>
    </bean>
    <!-- 创建SessionFactoryBean对象-->
    <bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 数据库连接信息来源于DataSource-->
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!-- 扫描器相当于mybatis.xml中mappers下的package标签 扫描com.xoste.leon.mapper后会给对应接口创建对象-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 要扫描那个包-->
        <property name="basePackage" value="com.xoste.leon.mapper"/>
        <!-- 和factory产生关系-->
        <property name="sqlSessionFactory" ref="factory"/>
    </bean>
    <!-- 由spring管理service类-->
    <bean id="airportService" class="com.xoste.leon.service.impl.AirportServiceImpl">
        <property name="airportMapper" ref="airportMapper"/>
    </bean>
</beans>